body {
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    /* Add margin-bottom to separate from the button */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-scrollbar {
    display: none;
}

button[type="submit"],
.button-link {
    background-color: #4facfe;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}

button[type="submit"]:hover,
.button-link:hover {
    background-color: #007bff;
}

h2 {
    margin-top: 20px;
    color: #333;
}

span {
    font-weight: bold;
    color: #007bff;
}

.button-container {
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.gif {
    /* display: none; */
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}